@import '~normalize.css';

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.box-additional {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

#filter-section {
  @extend .box-additional;
  padding: 25px;
  margin: 50px 0;
  display: flex;
}

#pagination {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-content: center;

  .page {
    padding: 15px;
    margin: 0 5px;
    @extend .box-additional;
    cursor: pointer;

    &.active {
      font-weight: 700;
    }
  }

}

.wrapper-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-wrapper {
  img {
    width: 150px;
    margin-top: 25px;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
  }
}

.button-wrapper {
  flex: 1;
  align-self: flex-end;
  margin-bottom: 8px;
}